---
const { json, forHumans, interval } = Astro.props;

const DEFAULT_INTERVAL = 30; // month

let days = [];
let totals: number[] = [];

for (const day of json.totals.days) {
  days.push(day.date);
  totals.push(day.total / 60 / 60);
}

// 😅
const clientSide = `const ctx = document.querySelector(".alltime-chart").getContext("2d");
    let gradient = ctx.createLinearGradient(0, -100, 0, 300);
    gradient.addColorStop(0, 'rgba(0, 140,255,1)');   
    gradient.addColorStop(1, 'rgba(0,140,255,0)');
    let days = ["${days.join(`", "`)}"];
    let totals = ${JSON.stringify(totals)};

    function updateInterval(interval) {
      let intervalDays = days.reduce((all, one, i) => {
        const chunkLength = Math.floor(i / interval);
        all[chunkLength] = one;
        return all;
      }, []);

      let intervalTotals = totals.reduce((all, one, i) => {
        const chunkLength = Math.floor(i / interval);
        if (!all[chunkLength]) all[chunkLength] = 0;
        all[chunkLength] += one;
        return all;
      }, []);

      chart.data.datasets[0].data = intervalTotals;
      chart.data.labels = intervalDays;
      chart.update();
    }
    
    const data = { 
        labels: days,
        datasets: [
            {
                data: totals,
                cubicInterpolationMode: 'monotone',
                tension: 0,
                fill: "start",
                label: "Hours",
                backgroundColor: gradient,
                borderColor: "rgba(0, 140,255)",
            }
        ],
    }
    
    const chart = new Chart(ctx, {
        data,
        type: "line",
    })

    document.querySelector("#interval-select").oninput = e => {
      updateInterval(e.target.value);
    }
    updateInterval(${DEFAULT_INTERVAL})`;
---

<span>Interval:</span>
<select id="interval-select">
  <option value="1">every day</option>
  <option value="7">every week</option>
  <option value="14">every 14 days</option>
  <option selected value="30">every 30 days</option>
  <option value="90">every 90 days</option>
  <option value="365">every year</option>
</select>
<canvas width="600" class="alltime-chart"></canvas>
<style>
  canvas {
    resize: both;
  }
</style>
<script type="module" set:html={clientSide} />
